#contact{
  padding: 80px 0;
  .contact-form{
    h2{
      color: $black;
      font-size: 20px;
      font-weight: 600;
      line-height: 1.2;
    }
    input, textarea{
      border-radius: 20px;
    }
    input[type="submit"]{
      padding: 10px 20px;
      font-weight: 600;
      background-color: $theme-color !important;
      border: none;
      border-radius: 50px;
    }
  }
}