footer{
    padding: 80px 0;
    &.site-footer {
        background: #333;
    }
    .footer-heading {
        font-size: 16px;
        color: $white;
        margin-bottom: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    p{
        color: #737373;
        margin-top: 0;
        margin-bottom: 16px;
        line-height: 1.7;
        font-weight: 400;
        font-size: 1rem;
    }
    a{
        color: #999;
    }
    .list-unstyled {
        padding-left: 0;
        list-style: none;
        li {
            margin-bottom: 10px;
            a {
                color: #999;
                line-height: 1.7;
                font-weight: 400;
                font-size: 16px;
            }
        }
    }
    .btn-primary{
        background-color: $theme-color !important;
        border: none;
        font-weight: 600;
    }
}