#team{
    padding: 0 0 80px;
    .border-bottom{
        border-bottom: 1px solid #dee2e6;
    }
    .person{
        h3{
            font-size: 18px;
            margin-bottom: 0.5rem;
            font-weight: 500;
            line-height: 1.2;
            color: #4d4d4d;
        }
        .text-muted{
            color: #ccc !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }
        p{
            line-height: 1.7;
            color: #4d4d4d;
            font-weight: 400;
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 16px;
        }
        .ul-social-circle {
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin-left: 5px;
                margin-bottom: 5px;
                &:first-child{
                    margin-left: 0;
                }
                a{
                    i{
                        color: $white;
                        -webkit-transition: .3s all ease;
                        -o-transition: .3s all ease;
                        transition: .3s all ease;
                        width: 30px;
                        height: 30px;
                        background: #777;
                        font-size: 13px;
                        text-align: center;
                        line-height: 30px;
                        border-radius: 50%;
                        display: inline-block;
                    }
                    &:hover{
                        text-decoration: none;
                        i{
                            background: #2b2b2b !important;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}